.image {
    position: relative;
    width: 100%; 
    }

    .Lorem {
        position: absolute;
        top: 100px;
        left: 20px;
        width: 100%;
        }
    .Lorem span {
        color: #030303;
        font-size: 15px;
        }
    
    h1 {
        color: rgba(213, 16, 28, 1);
        font-size: 22px;
        position: absolute;
        top: 70px;
        left: 20px;
        width: 100%;
    }
button{
    display: flex;
    margin-left: 40px;
    padding: 10px 59px;
    background-color:rgb(213, 16, 29);
    border: none;
    color:rgb(255, 255, 255) ;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 700;
}

button:hover {
    background: linear-gradient(to right, #865c5c 100%, transparent 45%);
    color: #fff;
}